*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
img{
    max-width: 100%;
    height: 70%;
   
}

button{
    cursor: pointer;
}

nav{
    background-color: black;
    width: 100%;
    padding: 15px 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    ul{
        display: flex;
        gap: 20px;
        .amount-products{
            position: absolute;
            color: white;
            background-color: red;
            padding: 2px 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            font-size: 10px;
            top: 25px;
            right: 170px;
            display: none;
        }
    }
}

li:nth-of-type(1){
    position: relative;
    
}

.filter-btn{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top: 30px;
    a{
        padding: 5px 14px;
        border-radius: 15px;
        background-color: black;
        color: white;
        border: 2px solid black;
        font-weight: 600;
        &:hover{
            background-color: white;
            color: black;
        }
    }
}

.card-container{
    width: 90%;
    margin: auto;
    display: flex;
    padding: 20px 0;
    // background-color: lightblue;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    .card{
        width: 20%;
        height: 220px;
        border-radius: 5px;
        border: 1px red solid;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 5px black;
        display: flex;
        align-items: center;
        padding: 10px;
        font-size: 0.8rem;
        gap: 10px;
    }
}

.card{
    p:nth-of-type(1){
        overflow: hidden;
        width: 100%;
        height: 15px;
        font-size: 13px;
    }
    p:nth-of-type(2){
        font-size: 13px;
        font-weight: 600;
    }
    button{
        padding: 2px 15px;
        font-size: 12px;
        border: 1px;
        font-family: serif;
    }
    
} 
.card{
    img{
        height: 50%;

    }
    .removeBtn{
        box-shadow: inset 0 0 5px red;
    }
    .buyBtn{
        box-shadow: inset 0 0 5px green;
    }
}
.card img:hover{
    transform: scale(1.4, 1.2);
    transition-duration: 2s;
}
.btnContainer{
    display: flex;
    gap: 10px;
}

@media(max-width:800px){
    .card-container{
        flex-wrap: wrap;
        .card{
            width: 30%;
        }
    }
}

@media(max-width:650px){
    .card-container{
        flex-wrap: wrap;
        .card{
            width: 40%;
        }
    }
}

@media(max-width:650px){
    .card-container{
        flex-wrap: wrap;
        .card{
            width: 45%;
            height: 230px
        }
    }
}



.card-container2{
    box-shadow: inset 0 0 70px gray;
    width: 90%;
    margin: auto;
    display: flex;
    padding: 20px 0;
    // background-color: lightblue;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    .card{
        width: 20%;
        height: 220px;
        border-radius: 5px;
        border: 1px red solid;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 5px black;
        display: flex;
        align-items: center;
        padding: 10px;
        font-size: 0.8rem;
        gap: 15px;
        background-color: white;
    }
}